<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "SoftwareApplication",
      "name": "StringTune Online Tuner",
      "applicationCategory": "MusicApplication",
      "operatingSystem": "Web",
      "offers": {
        "@type": "Offer",
        "price": "0",
        "priceCurrency": "USD"
      },
      "featureList": "Microphone-based Instrument Tuner, Chromatic Tuning, High Precision",
      "browserRequirements": "Requires Web Audio API support"
    }
</script>
