<div class="instrument-notes">
    <div class="guitar-notes" data-instrument="guitar">
        <h3>{{ i18n "guitar" }}</h3>
        <ul>
            <li>🔊 <button class="play-button" data-sound="Guitar_E1.mp3">▶️</button> E2 (6th string - thickest)</li>
            <li>🔊 <button class="play-button" data-sound="Guitar_A.mp3">▶️</button> A (5th string)</li>
            <li>🔊 <button class="play-button" data-sound="Guitar_D.mp3">▶️</button> D (4th string)</li>
            <li>🔊 <button class="play-button" data-sound="Guitar_G.mp3">▶️</button> G (3rd string)</li>
            <li>🔊 <button class="play-button" data-sound="Guitar_B.mp3">▶️</button> B (2nd string)</li>
            <li>🔊 <button class="play-button" data-sound="Guitar_E2.mp3">▶️</button> E4 (1st string - thinnest)</li>
        </ul>
    </div>
    <div class="bass-notes" data-instrument="bass">
        <h3>{{ i18n "bass" }}</h3>
        <ul>
            <li>🔊 <button class="play-button" data-sound="Bass_E.mp3">▶️</button> E (4th string)</li>
            <li>🔊 <button class="play-button" data-sound="Bass_A.mp3">▶️</button> A (3rd string)</li>
            <li>🔊 <button class="play-button" data-sound="Bass_D.mp3">▶️</button> D (2nd string)</li>
            <li>🔊 <button class="play-button" data-sound="Bass_G.mp3">▶️</button> G (1st string)</li>
        </ul>
    </div>
    <div class="ukulele-notes" data-instrument="ukulele">
        <h3>{{ i18n "ukulele" }}</h3>
        <ul>
            <li>🔊 <button class="play-button" data-sound="Ukulele_G.mp3">▶️</button> G (4th string)</li>
            <li>🔊 <button class="play-button" data-sound="Ukulele_C.mp3">▶️</button> C (3rd string)</li>
            <li>🔊 <button class="play-button" data-sound="Ukulele_E.mp3">▶️</button> E (2nd string)</li>
            <li>🔊 <button class="play-button" data-sound="Ukulele_A.mp3">▶️</button> A (1st string)</li>
        </ul>
    </div>
</div>


{{ partial "script.html" "js/guitar-notes.js?v=11" }}

