{{ $icon := resources.Get "images/install-icon.png" }}
{{ $icon2x := $icon.Resize "96x96 webp" }}
{{ $icon3x := $icon.Resize "144x144 webp" }}
<div id="install-app-prompt">
	<div class="install-app-content">
		<button type="button" id="install-button"><img alt=""
				style="position:absolute;top:50%;left:0;transform:translate(0,-50%);"
				src="{{ $icon2x.RelPermalink }}" srcset="{{ $icon2x.RelPermalink }} 2x, {{ $icon3x.RelPermalink }} 3x" width="48" height="48"><img alt=""
				style="vertical-align: bottom;margin-right:10px;" src="/images/download.png" width="28"
				height="28"><span style="vertical-align: bottom;">{{ i18n "install_app" | markdownify }}
				</span></button>
	</div>
</div>
<div id="install-app-prompt-ios">
	<div class="install-app-content">
		<button type="button" id="install-button-ios"><img alt=""
				style="position:absolute;top:50%;left:0;transform:translate(0,-50%);"
				src="{{ $icon2x.RelPermalink }}" srcset="{{ $icon2x.RelPermalink }} 2x, {{ $icon3x.RelPermalink }} 3x" width="48" height="48"><img alt=""
				style="vertical-align: bottom;margin-right:10px;" src="/images/download.png" width="28"
				height="28"><span style="vertical-align: bottom;">{{ i18n "install_app" | markdownify }}
				</span></button>
	</div>
</div>
<div id="install-app-instructions-ios">
	<div class="install-app-instructions">
		Tap <b>Share</b><img alt=""
			style="vertical-align:bottom;margin-bottom:3px;filter:brightness(0) grayscale(1) invert(1);margin-left:2px;"
			src="/images/addtohome.png" width="28" height="28" /><br />and then<br /><b>Add to Home Screen</b>
	</div>
</div>
<div id="install-app-screen"></div>
{{ partial "script.html" "js/installapp.js" }}