{{ define "main" }}
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-full has-text-centered">
                        {{ partial "tuner.html" . }}
                        <div class="about">
                            <h3 class="title is-5 has-text-centered">Stringtune</h3>
                            
                            {{ i18n "description"   | markdownify }}
			                {{ i18n "guitar_sounds" | markdownify }}
			                {{ partial "guitar-notes.html" . }}
                            {{ if eq .Site.Language.Lang "en" }}
                            <hr>
                            <h3>Blog posts</h3>
                            {{ range (.Paginator 20).Pages.ByDate.Reverse }}
                                {{ if eq .Type "posts" }}
                                    <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                                    <div class="justify-text">
                                        <span>{{ .Summary }}</span>
                                        <span><a href="{{ .RelPermalink }}">Read More</a></span>
                                    </div>
                                {{ end }}
                            {{ end }}
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ end }}

