{{ define "main" }}
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-full has-text-centered">
                        {{ partial "tuner.html" . }}
                        <div class="about">
                            <h3 class="title is-5 has-text-centered">Stringtune</h3>
                            
                            {{ i18n "description"   | markdownify }}
			                {{ i18n "guitar_sounds" | markdownify }}
			                {{ partial "guitar-notes.html" . }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ end }}

